
.caption{
	font-size: 12px;
	text-align: center;
	color: #FFF;
}


#logo {
    border-radius: 50%;
    height: 50px;
    width: auto;
    margin-right:5px;
}

#subheadings {
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}

@media (max-width: 720px) {
	.mobile #sceneList .scene {
		line-height: 30px;
		padding: 0 20px;
		height: 30px; 
	}
}